h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: aliceblue;
}
.container{
  width: 640px;
  margin: 0 auto;
}
body{
  background: rgb(17, 17, 17);
}
.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  transition: .4s ease;
  cursor: zoom-in;
}
.scale{
  cursor: zoom-out;
  transform: scale(1.3);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}
.thumb-bar{
  transition: .4s ease;
}
.thumb-bar img {
  display: block;
  width: 19.88%;
  float: left;
  cursor: pointer;
  margin-bottom: 50px;
  transition: .4s ease;
}
.thumb-bar img:hover{
  opacity: 1;
  border: 1px solid black;
  transform: scale(1.03);
}